# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# RASA
.rasa/

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Local configs
*.env
*.local

# GCP Credentials
services/translation-service/gcp-credentials.json